<h2>CHARTS</h2>
<!--<form action="{% url "database:check" %}">
<label>Select Number</label>
<select name="the-id1"    >
    {% for i in z3 %}
    <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
</select>
<input type="submit" value="Apply filters!"/>
</form>-->

<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv1 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv2 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv3 }}
  {% endautoescape %}
</div>

<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv4 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv5 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv6 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv7 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv8 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv9 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv10 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv11 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv12 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv13 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv14 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv15 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plotdiv16 }}
  {% endautoescape %}
</div>

</body>