<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>test</title>
</head>
<body>
<div style="width:1440px;height:440px;display: inline-block;">



  {% autoescape off %}
  {{ plot_div }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px;display: inline-block;">
  {% autoescape off %}
  {{ plot_div1 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">
  {% autoescape off %}
  {{ plot_div11 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">
  {% autoescape off %}
  {{ plot_div111 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">
  {% autoescape off %}
  {{ plot_div4 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">
  {% autoescape off %}
  {{ plot_divb }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">
  {% autoescape off %}
  {{ plot_divb1 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">
  {% autoescape off %}
  {{ plot_divb2 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">
  {% autoescape off %}
  {{ plot_divb3 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">
  {% autoescape off %}
  {{ plot_divb4 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">
  {% autoescape off %}
  {{ plot_divb5 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">

  {% autoescape off %}
  {{ plot_divb6 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">

  {% autoescape off %}
  {{ plot_divb7 }}
  {% endautoescape %}
</div>
<div style="width:1440px;height:540px">

  {% autoescape off %}
  {{ plot_divb8 }}
  {% endautoescape %}
</div>
</body>
</html>